@media only screen and (min-width: 1024px) {

    
   /* This shows than I can move content with media query, navigation positioning changes*/

    nav ul {margin-left: 2vw;}
    nav li {width:auto;}
    nav a {padding: .7rem 1rem;}


    div.bodyflexbox1> img{
        max-width: 35%;
        margin:5%;
               
    }

    .profile{
        font-size: 20px;
        line-height: 2;    
        max-width: 50%;
        text-align: center;
        margin:10px;
    }
    

}/* end of media query */