@media only screen and (min-width: 665px) {

/*This shows I can manipulate content with Media Query, Header size changes*/

header h1 { font-size: 2.85rem;}
header h2 { font-size: 1.5rem;} 
header img{ height: 115px; width: 115px;}




.hero-image img{
    height:300px;
    width:100%;
}


/*This shows I can manipulate content with Media Query, Nav placement changes*/
nav { top: 115px;}
nav button {display: none;}
nav ul {display: block;}
nav li {width: 25%; float: left;}

/*This shows I can move content with Media Query, Jave script button layout changes to flex-direction row for wider screens placement changes*/

.centeranimationbuttons{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin:0;
    padding:0;
}

/* This modifies my text in full screen to be similar in size to the animated shape */
.animationpagetext {
    max-width: 25%;
}
/* This changes profile picture and paragraph placement when the screen size changes. This forces H1 on index.html to be above other two flex box items */
div.bodyflexbox1> h1{
    flex-basis: 100%;
    text-align: center;
    margin:10px;
    border-bottom: 1px;
}
/* This changes profile picture and paragraph placement when the screen size changes */
.profile{
    font-size: 18px;
    line-height: 1.75;    
    max-width: 40%;
    text-align: center;
    margin:10px;
}

/* This changes profile picture and paragraph placement when the screen size changes */
.bodyflexbox1{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: fit-content;
    margin: 0;
    padding:0;
        
}

/* This changes profile picture and paragraph placement when the screen size changes */
div.bodyflexbox1> img{
     max-width: 50%;
   align-self: flex-start;
   margin-top: 2%;
   
    
}


}/* This is the end of media query */
