@media only screen and (min-width: 665px) {

/*This shows I can manipulate content with Media Query, Header size changes*/

header h1 { font-size: 2.85rem;}
header h2 { font-size: 1.5rem;} 
header img{ height: 115px; width: 115px;}

p{
    max-width: 25%;
}


.hero-image img{
    height:300px;
    width:100%;
}


/*This shows I can manipulate content with Media Query, Nav placement changes*/
nav { top: 115px;}
nav button {display: none;}
nav ul {display: block;}
nav li {width: 25%; float: left;}

.centeranimationbuttons{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin:0;
    padding:0;
}




}/* This is the end of media query */
