
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  }


/* Basic Style Rules*/
body{
    font-size: 16px;
    font-weight:300;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.maincontents {
    display: flex;
    flex-direction: column;
    flex:wrap;
    
}
  
.footer {
    margin-top: auto;
    background-color: green;
}

p{
    font-size: 16px;
    color: #f04b4c;
    text-align: center;
    margin:5px;
    line-height: 1.5;
}

.profile{
    margin:5px;
    line-height: 1.5;
}

main{
    max-width: 100%;
}

main h1{
    color:#3d6098;
}

em{
    font-weight: 700;
}


/* End Basic Style Rules */


.hero-image{
    max-width:100%;
    background-size:100%;
    
}

.hero-image img{
    height:150px;
    width:100%;
}

/*.column{
    float: left; 
    padding: 0 2vw; 
    margin: 0 0 .7rem 0;
    text-align: center;
    width:100%
}
*/

/* These are for header rules */
header{
    background-color: #3d6098;
    position:fixed;
    top:0;
    width:100%; 
   
    
}

header img{
    float: left;
    height: 65px;
    width: 65px;
    padding-right: 16px;
    margin-left: 20px;

}

header h1, header h2 {
    margin: 0;
    color:#fff;
    font-weight:300;
    font-style: italic;
    float:left;
    display:flex;
   
    
}

.fixedheader{
    display:flex;
    flex-direction: column;
} 

header h1{
    padding: .8rem 0 0 0;
    font-size: 1.4rem;   
}

header h2{
    padding: .2rem 0 0 0;
    font-size: 1rem;
}

/* End of Header Rules */


/* These are Footer Rules */
footer{
    background-color:darkgray ;
    font-size: 1.2rem;
    height:100px;
    position:sticky;
    bottom: 0;    
    width:100%;
    display:flex;
    flex-direction: column;
    text-align:center;
    align-items:center;
}

footer h2{
    font-style: italic;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    padding: 10px 0 0  0;
    text-decoration: underline;
    color: #f04b4c;

       
      
}

footer ul{
    list-style-type:none;
    display:flex;
    padding:10px 0 0 0;
    margin: 0 0 10px 0;
    font-size:32px;
}

footer ul li{
    margin: 0 10px;
}

footer a{
    display:block;
    color: #3d6098;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
}

/* End of Footer Rules*/



/* Navigation styles/rules */
  
button{
      background:none;
      border:none;
      color:#3d6098;
      font-size: 2.4rem;
      cursor: pointer;
      padding: 0 30px 0 2vw;
}


nav{
      background-color: #f04b4c;
      position:fixed;
      top: 65px;
      width:100%;
}

  
nav ul{
      margin:0; padding:0;
}   
      
nav li {
     list-style-type:none;
    }

nav a{
    display:block;
    padding: .8rem 0;
    color: #3d6098;
    text-align: center;
    text-decoration: none;
    font-weight:bold;
} 


nav li.active {
    background-color: rgba(200, 190, 190, 0.5);
} 


nav a:hover {
    background-color: rgba(200, 190, 190, 0.3);
}

nav ul.open {
    display: block;
}
nav ul {
    display: none;
} 

main img{
    width:100%;
    height: auto;
}




.bodyflexbox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: fit-content;
    margin: 0;
    padding:0;
    
}

.bodyflexbox1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: fit-content;
    margin: 0;
    padding:0;
    
}
/*Animation Rules */
.animationbuttons{
    background:#f04b4c;
    border:solid;
    color:#3d6098;
    font-size: 1.0rem;
    cursor: pointer;
    padding: 5px;
    margin:10px;
    width: 175px;
   
}

.centeranimationbuttons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin:0;
    padding:0;
}

.circleproperties {
    display: block;
    background: #3d6098;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 25px;
    animation-name:shapeanimation;
    animation-duration: 5s;
}

.squareproperties {
    display: block;
    background: #3d6098;
    border-radius: 0%;
    height: 150px;
    width: 150px;
    margin: 25px;
    animation-name:shapeanimation;
    animation-duration: 5s;
}
  
@keyframes shapeanimation{
      from{background-color:#3d6098;}
      to{background-color:#f04b4c;}
  }

 /*Caculator Rules- I sourced a good portion of this code from https://www.section.io/engineering-education/building-a-calculator-a-javascript-project-for-beginners/. I then manipulated the CSS for my site. I commented out the css rules to show that I understand what it is doing. */

 /* This styling the calculator grid layout of 4 columns and 5 rows, the black out put box is not included */
 .calculator-grid {
    display:grid;
    justify-content: center;
    align-content: center;
    min-height: 60vh;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(65px, auto) repeat(5, 65px);
    padding-bottom: 20px;
    
    }

    /*This is styling the calculator buttons */
    .calculator-grid > button {
      cursor: pointer;
      font-size: 2rem;
      border: 1px, solid #FFFFFF;
      background-color: rbga(255, 255, 255, 0.75);
      outline: solid #356098;
      text-align: center;
      margin:0;
      padding:0;
    }

    /* This is allowing the using to see what button they are hovering over by displaying a light gray on hover */
      .calculator-grid > button:hover {
        background-color: #a9a9a9;
      }


      /* This is allowing the buttons with class of span to take up two columns */
      .span-two {
        grid-column: span 2;
        color: #f04b4c;
        background-color:#3d6098;
      }


      /*This is sytyling the black output box at the top of the calculator */
      .output{
        grid-column: 1 / -1;
        background-color: rgba(0, 0, 0, 0.75);
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
        word-wrap: break-word;
        word-break: break-all;
        outline: solid #356098;
      }
      
      /* This style the previous operand, so if you complete a sequence of 3 + 6, once 3 is pressed it will show as the previous operand and be styled as noted below*/
      .output .previous-operand{
        color:red;
        font-size: 1.5rem;
      }
/* This style the previous operand, so if you complete a sequence of 3 + 6, once 3 is pressed it will show as the previous operand color from the selector above the 6 will be styled as noted in the current-operand class below The final result of the equation will be styled as noted in the current-operand class below*/
      .output .current-operand{
        color: red;
        font-size: 2.5rem;
      }